@{
    ViewBag.Title = "Index";
}
<link href="../theme/assets/apps/css/inbox.min.css" rel="stylesheet" type="text/css" />
<script src="~/signalr-client.min.js"></script>
<script type="text/javascript">
    var chat;
    var roomcount = 0;
    let hubConnection;
    $(function () {
        //建立链接
        let hubUrl = 'http://localhost:5004/GroupChat';
        let httpConnection = new signalR.HttpConnection(hubUrl);
        hubConnection = new signalR.HubConnection(httpConnection);

        //进行握手
        hubConnection.start();

        //（监听服务端消息）进入页面后与Signalr进行握手建立连接
        $('#CreatRoom').click(function () {
            if (roomcount < 15) {
                hubConnection.invoke('CreateRoom', $("#RoomName").val());
                roomcount++;
            } else {
                alert("聊天窗口只允许有15个");
            };
        });

        //（监听服务端消息）注册查询房间列表的方法
        hubConnection.on('GetRoomlist', data => {
            if (data) {
                var jsondata = $.parseJSON(data);
                $("#roomlist").html(" ");
                var firstLi = "<li class=\"divider margin-bottom-5\"></li>";
                $("#roomlist").append();
                for (var i = 0; i < jsondata.length; i++) {
                    var html = '<li><a href=\"javascript:void(0);\" onclick=\'AddRoom("' + jsondata[i].RoomName + '")\'><img class=\"contact-pic\" src=\"../theme/assets/pages/media/users/avatar7.jpg\">' +
                        '<span class=\"contact-name\">' + jsondata[i].RoomName + '</span>' +
                        '<span class=\"contact-status bg-green\"></span></a></li>';
                    $("#roomlist").append(html);
                }

                var userName = $("#UserIdentityName").html();
                hubConnection.invoke('OnConnectionedAfter', userName);
            }
        });

        //（监听服务端消息）
        hubConnection.on("AddRoom", roomName => {
            $("#ChatRoomName").html(roomName);
            $("#BtnSubmitMessage").attr("data-id", roomName);
            var cont = $('#chats');
            var list = $('.chats', cont);
            list.find("li").remove();
        });

        //（监听服务端消息）
        hubConnection.on('ShowMessage', data => {
            $("#ChatRoomName").html(data);
            $("#BtnSubmitMessage").attr("data-id", data);
            var cont = $('#chats');
            var list = $('.chats', cont);
            list.find("li").remove();
        });

        //（监听服务端消息）接收处理消息
        hubConnection.on('ReceiveMessage',data => {
            var userName = data.UserName;
            var content = data.Content;
            var time = data.SendTime;
            var cont = $('#chats');
            var list = $('.chats', cont);
            var html = '<li class=\"in\"><img class=\"avatar\" alt=\"\" src=\"../theme/assets/layouts/layout2/img/avatar2.jpg\" />'
                + '<div class=\"message\"><span class=\"arrow\"> </span><a href=\"javascript:;\" class=\"name\"> ' + userName + ' </a>'
                + '<span class=\"datetime\">' + time + ' </span><span class=\"body\">' + content + '</span></div></li>';
            list.append(html);
            var getLastPostPos = function () {
                var height = 0;
                cont.find("li.out, li.in").each(function () {
                    height = height + $(this).outerHeight();
                });

                return height;
            }

            cont.find('.scroller').slimScroll({
                scrollTo: getLastPostPos()
            });
        });
    });

    function AddRoom(roomName) {
        hubConnection.invoke('addToRoom', roomName);
    }

    //点击发送按钮并调用服务进行推送消息（此处注意SendMessage方法定义在Dashboard.js中）
    function SendMessage(message) {
        var roomName = $("#BtnSubmitMessage").attr("data-id");
        hubConnection.invoke('SendMessage', roomName, message);
    }

    function RemoveRoom(btn) {
        var room = $(btn).parent();
        var roomName = $(room).attr("roomName");
        chat.server.removeFromRoom(roomName);
    }
</script>

<div style="display: none;">
    <div class="row">
        <div style="float: left;">名称:</div>
        <div style="float: left;" id="username">@User.Identity.Name</div>
    </div>
</div>
    房间名:
<input type="text" value="Hello" id="RoomName" />
<button id="CreatRoom" class="btn btn-primary green fa fa-edit">创建聊天室</button>

<div class="row">
    <div class="col-md-2">
        <div class="inbox">
            <div class="inbox-sidebar">
                <a href="javascript:;" data-title="Compose" class="btn red compose-btn btn-block">
                    <i class="fa "></i> 聊天室列表
                </a>
                <ul class="inbox-contacts" id="roomlist"></ul>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="row" >
            <div class="col-md-12 col-sm-12">
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-bubble font-red-sunglo"></i>
                            <span class="caption-subject font-red-sunglo bold uppercase" id="ChatRoomName">Chats</span>
                        </div>
                    </div>
                    <div class="portlet-body" id="chats">
                        <div class="scroller" style="height: 385px;" data-always-visible="1" data-rail-visible="0">
                            <ul class="chats">
                            </ul>
                        </div>
                        <div class="chat-form">
                            <div class="input-cont">
                                <input class="form-control" type="text" placeholder="Type a message here..." />
                            </div>
                            <div class="btn-cont">
                                <span class="arrow"> </span>
                                <a href="" class="btn blue icn-only" data-id="1" id="BtnSubmitMessage">
                                    <i class="fa fa-check icon-white"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

