@{
    ViewBag.Title = "Index";
}
<link href="../theme/assets/apps/css/inbox.min.css" rel="stylesheet" type="text/css" />
<script src="~/signalr-client.min.js"></script>
<script type="text/javascript">
    var chat;
    var roomcount = 0;
    let hubConnection;
    $(function () {
        //建立链接
        let hubUrl = 'http://192.168.1.23:5004/GroupChat';
        let httpConnection = new signalR.HttpConnection(hubUrl);
        hubConnection = new signalR.HubConnection(httpConnection);

        //1、进行握手
        hubConnection.start();

        //进入页面后与Signalr进行握手建立连接
        $('#CreatRoom').click(function () {
            if (roomcount < 15) {
                hubConnection.invoke('CreateRoom', $("#Roomname").val());
                roomcount++;
            } else {
                alert("聊天窗口只允许有15个");
            };
        });

        //注册查询房间列表的方法
        hubConnection.on('GetRoomlist', data => {
            debugger;
            if (data) {
                var jsondata = $.parseJSON(data);
                $("#roomlist").html(" ");
                var firstLi = "<li class=\"divider margin-bottom-5\"></li>";
                $("#roomlist").append();
                for (var i = 0; i < jsondata.length; i++) {
                    var html = '<li><a href=\"javascript:void(0);\" onclick=\'AddRoom("' + jsondata[i].RoomName + '")\'><img class=\"contact-pic\" src=\"../theme/assets/pages/media/users/avatar7.jpg\">' +
                        '<span class=\"contact-name\">' + jsondata[i].RoomName + '</span>' +
                        '<span class=\"contact-status bg-green\"></span></a></li>';
                    $("#roomlist").append(html);
                }
            }
        });


        hubConnection.on("AddRoom", roomname => {
            $("#ChatRoomName").html(roomname);
            $("#BtnSubmitMessage").attr("data-id", roomname);
            var cont = $('#chats');
            var list = $('.chats', cont);
            list.find("li").remove();
        });

        hubConnection.on('ShowMessage', data => {
            $("#ChatRoomName").html(data);
            $("#BtnSubmitMessage").attr("data-id", data);
            var cont = $('#chats');
            var list = $('.chats', cont);
            list.find("li").remove();
        });
        //
        //chat.client.showMessage = function (roomname) {
        //    $("#ChatRoomName").html(roomname);
        //    $("#BtnSubmitMessage").attr("data-id", roomname);
        //    var cont = $('#chats');
        //    var list = $('.chats', cont);
        //    list.find("li").remove();
        //}

        hubConnection.on('SendMessage',data => {
            var userName = data.UserName;
            var content = data.Content;
            var time = data.SendTime;
            var cont = $('#chats');
            var list = $('.chats', cont);
            var html = '<li class=\"in\"><img class=\"avatar\" alt=\"\" src=\"../theme/assets/layouts/layout/img/avatar2.jpg\" />'
                + '<div class=\"message\"><span class=\"arrow\"> </span><a href=\"javascript:;\" class=\"name\"> ' + username + ' </a>'
                + '<span class=\"datetime\">' + time + ' </span><span class=\"body\">' + content + '</span></div></li>';
            list.append(html);
            var getLastPostPos = function () {
                var height = 0;
                cont.find("li.out, li.in").each(function () {
                    height = height + $(this).outerHeight();
                });

                return height;
            }

            cont.find('.scroller').slimScroll({
                scrollTo: getLastPostPos()
            });
        });

        ////服务端向所有在线客户端推送消息
        //chat.client.sendMessage = function (roomname, username, message, time) {
        //    var cont = $('#chats');
        //    var list = $('.chats', cont);
        //    var html = '<li class=\"in\"><img class=\"avatar\" alt=\"\" src=\"../theme/assets/layouts/layout/img/avatar2.jpg\" />' 
        //        + '<div class=\"message\"><span class=\"arrow\"> </span><a href=\"javascript:;\" class=\"name\"> ' + username + ' </a>'
        //        + '<span class=\"datetime\">'+time+' </span><span class=\"body\">' + message + '</span></div></li>';
        //    list.append(html);
        //    var getLastPostPos = function () {
        //        var height = 0;
        //        cont.find("li.out, li.in").each(function () {
        //            height = height + $(this).outerHeight();
        //        });

        //        return height;
        //    }

        //    cont.find('.scroller').slimScroll({
        //        scrollTo: getLastPostPos()
        //    });
        //}

        //聊天室人数为0后，此聊天室自动移除
        //chat.client.removeRoom = function (data) {
        //    alert(data);
        //}

        //服务端向客户端推送房间
        //chat.client.addRoom = function (roomname) {
        //    $("#ChatRoomName").html(roomname);
        //    $("#BtnSubmitMessage").attr("data-id", roomname);
        //    var cont = $('#chats');
        //    var list = $('.chats', cont);
        //    list.find("li").remove();
        //}

        
    });

    function AddRoom(roomname) {
        hubConnection.invoke('addToRoom', roomname);
    }

    //点击发送按钮并调用服务进行推送消息（此处注意SendMessage方法定义在Dashboard.js中）
    function SendMessage(message) {
        var roomname = $("#BtnSubmitMessage").attr("data-id");
        hubConnection.invoke('SendMessage',roomname, message);
    }

    function RemoveRoom(btn) {
        var room = $(btn).parent();
        var roomname = $(room).attr("roomname");
        chat.server.removeFromRoom(roomname);
    }

    //日期格式转换
    function ChangeDateFormat(jsondate) {
        if (jsondate === "") { return ""; }
        jsondate = jsondate.replace("/Date(", "").replace(")/", "");
        if (jsondate.indexOf("+") > 0) {
            jsondate = jsondate.substring(0, jsondate.indexOf("+"));
        }
        else if (jsondate.indexOf("-") > 0) {
            jsondate = jsondate.substring(0, jsondate.indexOf("-"));
        }
        var date = new Date(parseInt(jsondate, 10));
        var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
        var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
        var hours = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
        var minutes = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
        var seconds = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
        return date.getFullYear()
            + "年"
            + month
            + "月"
            + currentDate
            + "日"
            + " "
            + hours
            + ":"
            + minutes
            + ":"
            + seconds;
    }
</script>

<div style="display: none;">
    <div class="row">
        <div style="float: left;">名称:</div>
        <div style="float: left;" id="username">@User.Identity.Name</div>
    </div>
</div>
    输入聊天室名:
<input type="text" value="asdasd" id="Roomname" />
<button id="CreatRoom" class="btn btn-primary green fa fa-edit">创建聊天室</button>

<div class="row">
    <div class="col-md-2">
        <div class="inbox">
            <div class="inbox-sidebar">
                <a href="javascript:;" data-title="Compose" class="btn red compose-btn btn-block">
                    <i class="fa "></i> 聊天室列表
                </a>
                <ul class="inbox-contacts" id="roomlist"></ul>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="row" >
            <div class="col-md-12 col-sm-12">
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-bubble font-red-sunglo"></i>
                            <span class="caption-subject font-red-sunglo bold uppercase" id="ChatRoomName">Chats</span>
                        </div>
                    </div>
                    <div class="portlet-body" id="chats">
                        <div class="scroller" style="height: 385px;" data-always-visible="1" data-rail-visible="0">
                            <ul class="chats">
                            </ul>
                        </div>
                        <div class="chat-form">
                            <div class="input-cont">
                                <input class="form-control" type="text" placeholder="Type a message here..." />
                            </div>
                            <div class="btn-cont">
                                <span class="arrow"> </span>
                                <a href="" class="btn blue icn-only" data-id="1" id="BtnSubmitMessage">
                                    <i class="fa fa-check icon-white"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

