
@{
    ViewBag.Title = "Personal";
}

@{
    ViewBag.Title = "Index";
}
<link href="../theme/assets/apps/css/inbox.min.css" rel="stylesheet" type="text/css" />

<!--jQuery引用版本 以及顺序，包括在模版中引用的上下-->
@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
<script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
<script src="~/signalr/hubs"></script>
<script type="text/javascript">
    var chat;
    $(function () {
        //建立一个代理对象
        chat = $.connection.PersonToPersonHub;   

        //进入页面后与Signalr进行握手建立连接
        $.connection.hub.start().done(function () {
            chat.server.getUserList();
        });

        //服务端调用客户端显示信息
        chat.client.showMessage = function (message) {
            alert(message);
        };

        //服务端调用客户端添加聊天消息内容
        chat.client.addMessage = function (contextId, userName, message, time) {
            var cont = $('#chats');
            var list = $('.chats', cont);
            var html = '<li class=\"in\"><img class=\"avatar\" alt=\"\" src=\"../theme/assets/layouts/layout/img/avatar2.jpg\" />'
                + '<div class=\"message\"><span class=\"arrow\"> </span><a href=\"javascript:;\" class=\"name\"> ' + userName + ' </a>'
                + '<span class=\"datetime\">' + time + ' </span><span class=\"body\">' + message + '</span></div></li>';
            list.append(html);
            var getLastPostPos = function () {
                var height = 0;
                cont.find("li.out, li.in").each(function () {
                    height = height + $(this).outerHeight();
                });
                return height;
            }

            cont.find('.scroller').slimScroll({
                scrollTo: getLastPostPos()
            });
        };

        //服务端调用客户端更新联系人列表
        chat.client.getUserlist = function (data) {
            if (data) {
                var jsonData = $.parseJSON(data);
                $("#roomlist").html(" ");

                for (var i = 0; i < jsonData.length; i++) {
                    if ($("#ChatRoomName").val() == jsonData[i].Name) {
                        $("#BtnSubmitMessage").attr("data-id", jsonData[i].ContextId);
                    }
                    var html = '<li><a href=\"javascript:void(0);\" onclick=\'AddRoom("' + jsonData[i].ContextId + '","' + jsonData[i].Name + '")\'><img class=\"contact-pic\" src=\"../theme/assets/pages/media/users/avatar7.jpg\">' +
                               '<span class=\"contact-name\">' + jsonData[i].Name + '</span>' +
                               '<span class=\"contact-status bg-green\"></span></a></li>';
                    $("#roomlist").append(html);
                }
            }
        }
    });

    //与指定联系人建立显示聊天窗口
    function AddRoom(contextId, name) {
        $("#ChatRoomName").html(name);
        $("#BtnSubmitMessage").attr("data-id", contextId);
        var cont = $('#chats');
        var list = $('.chats', cont);
        list.find("li").remove();
    }
   
    //点击发送按钮并调用服务进行推送消息（此处注意SendMessage方法定义在Dashboard.js中）
    function SendMessage(message) {
        var contextId = $("#BtnSubmitMessage").attr("data-id");
        chat.server.sendMessage(contextId, message);
    }
</script>

<div style="display: none;">
    <div class="row">
        <div style="float: left;">名称:</div>
        <div style="float: left;" id="UserName">@HttpContext.Current.User.Identity.Name</div>
        <div>用户唯一编码:<p id="ConID"></p></div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="inbox">
            <div class="inbox-sidebar">
                <a href="javascript:;" data-title="Compose" class="btn red compose-btn btn-block">
                    <i class="fa "></i> 通讯录列表
                </a>
                <ul class="inbox-contacts" id="roomlist"></ul>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-bubble font-red-sunglo"></i>
                            <span class="caption-subject font-red-sunglo bold uppercase" id="ChatRoomName">Chats</span>
                        </div>
                    </div>
                    <div class="portlet-body" id="chats">
                        <div class="scroller" style="height: 385px;" data-always-visible="1" data-rail-visible="0">
                            <ul class="chats"></ul>
                        </div>
                        <div class="chat-form">
                            <div class="input-cont">
                                <input class="form-control" type="text" placeholder="Type a message here..." />
                            </div>
                            <div class="btn-cont">
                                <span class="arrow"> </span>
                                <a href="" class="btn blue icn-only" data-id="1" id="BtnSubmitMessage">
                                    <i class="fa fa-check icon-white"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



