
@{
    ViewData["Title"] = "CallBack";
}

<h2>CallBack</h2>
<script src="oidc-client.js"></script>
<script>
        new Oidc.UserManager().signinRedirectCallback().then(function () {
            window.location = "../Home/Index";
        }).catch(function (e) {
            console.error(e);
        });
</script>
