@{
    ViewData["Title"] = "Index Page";
}
<h1>这是测试用的Index页面</h1>

<button id="login">Login</button>
<button id="api">Call API</button>
<button id="logout">Logout</button>

<pre id="results"></pre>
<script src="~/lib/oidc-client/dist/oidc-client.js"></script>
<script src="~/scripts/app.js"></script>
