@{
    ViewData["Title"] = "Index Page";
    var type = ViewBag.Type as string;
    if (!string.IsNullOrEmpty(type))
    {
        Layout = "~/Views/Shared/_MainLayout.cshtml";
    }

}
<h1>这是测试用的Index页面</h1>

<button id="login">Login</button>
<button id="api">Call API</button>
<button id="logout">Logout</button>

<pre id="results"></pre>


