@{
    Layout = null;
}
<html>
<head>
    <h2>Login</h2>
    <script src="~/lib/oidc-client/dist/oidc-client.js"></script>
    <script>
        var config = {
            authority: "http://localhost:5000",
            client_id: "js",
            redirect_uri: "http://localhost:5003/callback.html",
            response_type: "id_token token",
            scope: "openid profile api1",
            post_logout_redirect_uri: "http://localhost:5003/Home/Index",
        };
        var mgr = new Oidc.UserManager(config);

        console.info(window.location.href);
        mgr.signinRedirect({ state: window.location.href }); //登录后跳转到原来页面
    </script>
</head>
<body>9999</body>
</html>