<div class="welcome-page">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                <img class="icon" src="~/icon.jpg">
                Welcome to aehyok IdentityServer4
                @*<small>(build {version})</small>*@
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <p>
               
                <a href="~/.well-known/openid-configuration">openid-configuration 说明</a>
            </p>
        </div>
        <div class="col-sm-8">
            <p>
                Click <a href="~/grants">管理Grants授权</a> 
            </p>
        </div>
    </div>
</div>
