<!DOCTYPE html>
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment _env
<html>
<head>
        @*<link rel="stylesheet" href="~/css/css.min.css" asp-append-version="true" />*@
        <link href="~/Css/site.css" rel="stylesheet" />
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
        <link href="~/lib/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="~/lib/fullcalendar/dist/fullcalendar.css" rel="stylesheet" />
        <link href="~/lib/jqvmap/dist/jqvmap.css" rel="stylesheet" />
        <link href="~/lib/layer/src/skin/default/layer.css" rel="stylesheet" />
        <link href="~/lib/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" />
        <link href="~/lib/sweetalert/dist/sweetalert.css" rel="stylesheet" />
        <link href="~/lib/toastr/toastr.css" rel="stylesheet" />
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - aehyok</title>
</head>
<body>
<div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; 2017 - WebApplication1</p>
    </footer>
</div>
</body>
</html>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>