<!DOCTYPE html>
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment _env
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - aehyok</title>

        @*<link rel="stylesheet" href="~/css/css.min.css" asp-append-version="true" />*@
    <link href="~/lib/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" />    
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/lib/fullcalendar/dist/fullcalendar.css" rel="stylesheet" />
    <link href="~/lib/jqvmap/dist/jqvmap.css" rel="stylesheet" />
    <link href="~/css/components-rounded.css" rel="stylesheet" />
    <link href="~/css/plugins.css" rel="stylesheet" />
    <link href="~/css/layout.css" rel="stylesheet" />
    <link href="~/css/themes/darkblue.css" rel="stylesheet" />
    <link href="~/lib/toastr/toastr.css" rel="stylesheet" />
    <link href="~/lib/sweetalert/dist/sweetalert.css" rel="stylesheet" />
    <link href="~/lib/layer/src/skin/default/layer.css" rel="stylesheet" />
    
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
       
</head>
<body>
<div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; 2017 - WebApplication1</p>
    </footer>
</div>
</body>
</html>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/lib/js-cookie/src/js.cookie.js"></script>
<script src="~/lib/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/lib/blockui/jquery.blockUI.js"></script>
<script src="~/lib/bootstrap-switch/dist/js/bootstrap-switch.js"></script>
<script src="~/lib/bootstrap-daterangepicker/daterangepicker.js"></script>