<ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
    <li class="sidebar-toggler-wrapper hide">
        <div class="sidebar-toggler">
            <span></span>
        </div>
    </li>
    <li class="nav-item">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="fa fa-home"></i>
            <span class="title">工作助理</span>
            <span class="selected"></span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item start active open">
                <a href="~/Home/Index?menuId=homeindex" class="nav-link" target="_self" id="homeindex">
                    <i class="fa fa-pencil-square-o"></i>
                    <span class="title">待办事项</span>
                    <span class="selected"></span>
                    <span class="badge badge-success">10</span>
                </a>
            </li>
            <li class="nav-item start ">
                <a href="~/Home/ResourceManage?menuId=ResourceManage" class="nav-link " target="_self" id="ResourceManage">
                    <i class="icon-bulb"></i>
                    <span class="title">事务提醒</span>
                    <span class="badge badge-success">15</span>
                </a>
            </li>
            <li class="nav-item start ">
                <a href="~/Home/ResourceManage?menuId=ResourceManage" class="nav-link " target="_self" id="ResourceManage">
                    <i class="fa fa-paw"></i>
                    <span class="title">工作计划</span>
                    <span class="badge badge-success">5</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="fa fa-desktop"></i>
            <span class="title">业务全景展示</span>
            <span class="selected"></span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-bar-chart"></i>
                    <span class="title">行政执法</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item ">
                        <a href="~/FullScreen/AdministrativeYear?menuId=AdministrativeYear" class="nav-link " target="_self" id="AdministrativeYear">年度统计</a>
                    </li>
                    <li class="nav-item ">
                        <a href="~/FullScreen/AdministrativeMonth?menuId=AdministrativeMonth" class="nav-link " target="_self" id="AdministrativeMonth"> 月度统计 </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item start ">
                <a href="~/Home/Panorama?menuId=Panorama" class="nav-link" target="_self" id="Panorama">
                    <i class="fa fa-contao"></i>
                    <span class="title">刑事执法</span>
                </a>
            </li>
            <li class="nav-item start ">
                <a href="~/Home/ResourceManage?menuId=ResourceManage" class="nav-link " target="_self" id="ResourceManage">
                    <i class="icon-bulb"></i>
                    <span class="title">职能管理</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-diamond"></i>
            <span class="title">粤港两地牌车辆</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <span class="title">备案数据统计</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item ">
                        <a href="~/TwoCar/RecordCarCount?menuId=RecordCarCount" class="nav-link " target="_self" id="RecordCarCount">车辆备案统计</a>
                    </li>
                    <li class="nav-item ">
                        <a href="~/TwoCar/RecordDriver?menuId=RecordDriver" class="nav-link " target="_self" id="RecordDriver"> 两地牌车涉案统计 </a>
                    </li>

                </ul>
            </li>
            <li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <span class="title">车辆进出境统计</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item ">
                        <a href="~/TwoCar/InAndOutRank?menuId=InAndOutRank" class="nav-link " target="_self" id="InAndOutRank">进出境统计</a>
                    </li>
                    <li class="nav-item ">
                        <a href="~/TwoCar/InAndOutRank?menuId=InAndOutRank" class="nav-link " target="_self" id="InAndOutRank">累计进境总次数排名  </a>
                    </li>
                    <li class="nav-item ">
                        <a href="~/TwoCar/InAndOutRank?menuId=InAndOutRank" class="nav-link " target="_self" id="InAndOutRank">每日累计进境次数排名 </a>
                    </li>
                    <li class="nav-item ">
                        <a href="~/TwoCar/InAndOutRank?menuId=InAndOutRank" class="nav-link " target="_self" id="InAndOutRank"> 单日进境次数排名 </a>
                    </li>
                    <li class="nav-item ">
                        <a href="~/TwoCar/InAndOutRank?menuId=InAndOutRank" class="nav-link " target="_self" id="InAndOutRank">滞留境内超3个月 </a>
                    </li>
                </ul>
            </li>

        </ul>
    </li>
    <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-bar-chart"></i>
            <span class="title">旅检快办系统</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item  ">
                <a href="#" class="nav-link ">
                    <span class="title">案件统计</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="#" class="nav-link ">
                    <span class="title">涉案物品</span>
                </a>
            </li>

        </ul>
    </li>
    <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-settings"></i>
            <span class="title">业务预警监督</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <span class="title">强制措施</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item ">
                        <a href="" class="nav-link " target="_blank">拘留（30天）</a>
                    </li>
                    <li class="nav-item ">
                        <a href="" class="nav-link " target="_blank">监视居住  </a>
                    </li>
                    <li class="nav-item ">
                        <a href="" class="nav-link " target="_blank"> 取保候审 </a>
                    </li>
                    <li class="nav-item ">
                        <a href="" class="nav-link " target="_blank"> 逮捕 </a>
                    </li>
                    <li class="nav-item ">
                        <a href="" class="nav-link " target="_blank"> 羁押 </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <span class="title">侦查措施</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item ">
                        <a href="" class="nav-link " target="_blank">冻结存款</a>
                    </li>
                    <li class="nav-item ">
                        <a href="" class="nav-link " target="_blank">财物扣押  </a>
                    </li>
                    <li class="nav-item ">
                        <a href="" class="nav-link " target="_blank"> 补充侦查 </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <span class="title">办案周期</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item ">
                        <a href="" class="nav-link " target="_blank">总周期</a>
                    </li>
                    <li class="nav-item ">
                        <a href="" class="nav-link " target="_blank">受案周期  </a>
                    </li>
                    <li class="nav-item ">
                        <a href="" class="nav-link " target="_blank"> 立案周期 </a>
                    </li>
                    <li class="nav-item ">
                        <a href="" class="nav-link " target="_blank"> 侦查周期 </a>
                    </li>
                    <li class="nav-item ">
                        <a href="" class="nav-link " target="_blank"> 预审移诉周期 </a>
                    </li>
                    <li class="nav-item ">
                        <a href="" class="nav-link " target="_blank"> 起诉判决周期 </a>
                    </li>
                    <li class="nav-item ">
                        <a href="" class="nav-link " target="_blank"> 撤案审查周期 </a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-briefcase"></i>
            <span class="title">案(事)件协办</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item  ">
                <a href="table_static_basic.html" class="nav-link ">
                    <span class="title"></span>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-puzzle"></i>
            <span class="title">内务管理</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item  ">
                <a href="components_date_time_pickers.html" class="nav-link ">
                    <span class="title">通知通告</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="components_date_time_pickers.html" class="nav-link ">
                    <span class="title">会议管理</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="components_date_time_pickers.html" class="nav-link ">
                    <span class="title">考勤管理</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="fa fa-rss"></i>
            <span class="title">办公设备管理</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item  ">
                <a href="form_controls.html" class="nav-link ">
                    <span class="title">
                        办公用品管理
                    </span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="form_controls.html" class="nav-link ">
                    <span class="title">
                        耗材管理
                    </span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="form_controls.html" class="nav-link ">
                    <span class="title">
                        设备维修
                    </span>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-bulb"></i>
            <span class="title">聊天管家</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item  ">
                <a href="../Message/Index?menuId=messageIndex&type=header" class="nav-link " id="messageIndex">
                    <span class="title">
                        消息管家
                    </span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="" class="nav-link ">
                    <span class="title">用车管理</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="" class="nav-link ">
                    <span class="title">汇总统计</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="fa fa-server"></i>
            <span class="title">博客管理</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item  ">
                <a href="../Blog/Index?menuId=BlogIndex&type=header" class="nav-link " id="BlogIndex">
                    <span class="title">
                        博客列表
                    </span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="../Blog/Add?menuId=BlogAdd&type=header" class="nav-link " id="BlogAdd">
                    <span class="title">
                        添加博客
                    </span>
                </a>
            </li>

            <li class="nav-item  ">
                <a href="../Blog/TagIndex?menuId=BlogTagIndex&type=header" class="nav-link " id="BlogTagIndex">
                    <span class="title">
                        博客标签管理
                    </span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="../Blog/AddTag?menuId=BlogAddTag&type=header" class="nav-link " id="BlogAddTag">
                    <span class="title">
                        添加博客
                    </span>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="fa fa-contao"></i>
            <span class="title">业务指标分析</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item  ">
                <a href="" class="nav-link ">
                    <span class="title">案值涉税排名</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="" class="nav-link ">
                    <span class="title">涉嫌罪名排名</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <span class="title">业务比率排名</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item ">
                        <a href="" class="nav-link " target="_blank">拘留转取保率</a>
                    </li>
                    <li class="nav-item ">
                        <a href="" class="nav-link " target="_blank">拘留转捕率  </a>
                    </li>
                    <li class="nav-item ">
                        <a href="" class="nav-link " target="_blank"> 有罪判决率 </a>
                    </li>
                    <li class="nav-item ">
                        <a href="" class="nav-link " target="_blank"> 取保转诉率 </a>
                    </li>
                    <li class="nav-item ">
                        <a href="" class="nav-link " target="_blank"> 不批捕率 </a>
                    </li>
                    <li class="nav-item ">
                        <a href="" class="nav-link " target="_blank"> 不起诉率 </a>
                    </li>
                    <li class="nav-item ">
                        <a href="" class="nav-link " target="_blank"> 积案率 </a>
                    </li>
                    <li class="nav-item ">
                        <a href="" class="nav-link " target="_blank"> 撤案率 </a>
                    </li>
                </ul>
            </li>

        </ul>
    </li>


    <li class="heading">
        <h3 class="uppercase">测试页面</h3>
    </li>
    <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-bulb"></i>
            <span class="title">Charts</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item  ">
                <a href="~/ECharts/RelationSchema?menuId=RelationSchema" class="nav-link" id="RelationSchema">
                    <span class="title">关系图</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="~/ECharts/Pie?menuId=Pie" class="nav-link" id="Pie">
                    <span class="title">饼状图</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="~/ECharts/Mix?menuId=Mix" class="nav-link" id="Mix">
                    <span class="title">混合图</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="~/ECharts/Map?menuId=Map" class="nav-link" id="Map">
                    <span class="title">混合图</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-bulb"></i>
            <span class="title">DataTables</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item  ">
                <a href="~/DataTables/List?menuId=List" class="nav-link" id="List">
                    <span class="title">数据列表</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="~/DataTables/TableList?menuId=TableList" class="nav-link" id="TableList">
                    <span class="title">动态列表</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="~/DataTables/DataTablesList?menuId=DataTablesList" class="nav-link" id="DataTablesList">
                    <span class="title">服务端分页</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="~/DataTables/HandleCaseList?menuId=HandleCaseList" class="nav-link" id="HandleCaseList">
                    <span class="title">在办案件列表</span>
                </a>
            </li>
        </ul>
    </li>

    <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-bulb"></i>
            <span class="title">UI小插件</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item  ">
                <a href="~/Test/Toastr?menuId=Toastr" class="nav-link" id="Toastr">
                    <span class="title">toastr</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="~/Test/Toastr?menuId=Toastr" class="nav-link" id="Toastr">
                    <span class="title">toastr</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="~/Test/Toastr?menuId=Toastr" class="nav-link" id="Toastr">
                    <span class="title">toastr</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-bulb"></i>
            <span class="title">爱图秀</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item  ">
                <a href="~/Picture/Index?menuId=PictureIndex" class="nav-link" id="PictureIndex">
                    <span class="title">爱图秀</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="~/Picture/Create?menuId=PictureCreate" class="nav-link" id="PictureCreate">
                    <span class="title">上传爱图</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="~/Picture/Album?menuId=PictureAlbum" class="nav-link" id="PictureAlbum">
                    <span class="title">爱图相册</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="~/GuideLine/Define?menuId=GuideLineDefine" class="nav-link" id="GuideLineDefine">
                    <span class="title">指标定义管理</span>
                </a>
            </li>
        </ul>
    </li>

</ul>
