<ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
    <li class="sidebar-toggler-wrapper hide">
        <div class="sidebar-toggler">
            <span></span>
        </div>
    </li>
    <li class="nav-item">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="fa fa-home"></i>
            <span class="title">商品管理</span>
            <span class="selected"></span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item start active open">
                <a href="~/Home/Index?menuId=homeindex" class="nav-link" target="_self" id="homeindex">
                    <i class="fa fa-pencil-square-o"></i>
                    <span class="title">商品列表</span>
                    <span class="selected"></span>
                    <span class="badge badge-success">10</span>
                </a>
            </li>
            <li class="nav-item start ">
                <a href="~/Home/ResourceManage?menuId=ResourceManage" class="nav-link " target="_self" id="ResourceManage">
                    <i class="icon-bulb"></i>
                    <span class="title">商品分类</span>
                    <span class="badge badge-success">15</span>
                </a>
            </li>
            <li class="nav-item start ">
                <a href="~/Home/ResourceManage?menuId=ResourceManage" class="nav-link " target="_self" id="ResourceManage">
                    <i class="fa fa-paw"></i>
                    <span class="title">商品评价</span>
                    <span class="badge badge-success">5</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="fa fa-desktop"></i>
            <span class="title">销售管理</span>
            <span class="selected"></span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-bar-chart"></i>
                    <span class="title">订单管理</span>
                    <span class="arrow"></span>
                </a>
            </li>
            <li class="nav-item start ">
                <a href="~/Home/Panorama?menuId=Panorama" class="nav-link" target="_self" id="Panorama">
                    <i class="fa fa-contao"></i>
                    <span class="title">发货管理</span>
                </a>
            </li>
            <li class="nav-item start ">
                <a href="~/Home/ResourceManage?menuId=ResourceManage" class="nav-link " target="_self" id="ResourceManage">
                    <i class="icon-bulb"></i>
                    <span class="title">退货管理</span>
                </a>
            </li>
            <li class="nav-item start ">
                <a href="~/Home/ResourceManage?menuId=ResourceManage" class="nav-link " target="_self" id="ResourceManage">
                    <i class="icon-bulb"></i>
                    <span class="title">购物车管理</span>
                </a>
            </li>
            <li class="nav-item start ">
                <a href="~/Home/ResourceManage?menuId=ResourceManage" class="nav-link " target="_self" id="ResourceManage">
                    <i class="icon-bulb"></i>
                    <span class="title">收藏夹管理</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-diamond"></i>
            <span class="title">客户管理</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <span class="title">客户列表</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item ">
                        <a href="~/TwoCar/RecordCarCount?menuId=RecordCarCount" class="nav-link " target="_self" id="RecordCarCount">客户角色</a>
                    </li>
                    <li class="nav-item ">
                        <a href="~/TwoCar/RecordDriver?menuId=RecordDriver" class="nav-link " target="_self" id="RecordDriver"> 供应商 </a>
                    </li>

                </ul>
            </li>
            <li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <span class="title">内容管理</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item ">
                        <a href="~/TwoCar/InAndOutRank?menuId=InAndOutRank" class="nav-link " target="_self" id="InAndOutRank">商城信息</a>
                    </li>
                    <li class="nav-item ">
                        <a href="~/TwoCar/InAndOutRank?menuId=InAndOutRank" class="nav-link " target="_self" id="InAndOutRank">新闻管理  </a>
                    </li>
                    <li class="nav-item ">
                        <a href="~/TwoCar/InAndOutRank?menuId=InAndOutRank" class="nav-link " target="_self" id="InAndOutRank">博客管理 </a>
                    </li>
                    <li class="nav-item ">
                        <a href="~/TwoCar/InAndOutRank?menuId=InAndOutRank" class="nav-link " target="_self" id="InAndOutRank"> 投票管理 </a>
                    </li>
                    <li class="nav-item ">
                        <a href="~/TwoCar/InAndOutRank?menuId=InAndOutRank" class="nav-link " target="_self" id="InAndOutRank">论坛管理 </a>
                    </li>
                </ul>
            </li>

        </ul>
    </li>
    <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-bar-chart"></i>
            <span class="title">商城配置</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item  ">
                <a href="#" class="nav-link ">
                    <span class="title">付款方式</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="#" class="nav-link ">
                    <span class="title">配送方式</span>
                </a>
            </li>

        </ul>
    </li>
    <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="fa fa-rss"></i>
            <span class="title">支付管理</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item  ">
                <a href="../Pay/Index?menuId=payIndex&type=header" class="nav-link " id="payIndex">
                    <span class="title">
                        支付宝支付
                    </span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="form_controls.html" class="nav-link ">
                    <span class="title">
                        微信支付
                    </span>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-bulb"></i>
            <span class="title">聊天管家</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item  ">
                <a href="../Message/Index?menuId=messageIndex&type=header" class="nav-link " id="messageIndex">
                    <span class="title">
                        消息管家
                    </span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="" class="nav-link ">
                    <span class="title">用车管理</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="" class="nav-link ">
                    <span class="title">汇总统计</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="fa fa-server"></i>
            <span class="title">博客管理</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item  ">
                <a href="../Blog/Index?menuId=BlogIndex&type=header" class="nav-link " id="BlogIndex">
                    <span class="title">
                        博客列表
                    </span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="../Blog/Add?menuId=BlogAdd&type=header" class="nav-link " id="BlogAdd">
                    <span class="title">
                        添加博客
                    </span>
                </a>
            </li>

            <li class="nav-item  ">
                <a href="../Blog/TagIndex?menuId=BlogTagIndex&type=header" class="nav-link " id="BlogTagIndex">
                    <span class="title">
                        标签管理
                    </span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="../Blog/AddTag?menuId=BlogAddTag&type=header" class="nav-link " id="BlogAddTag">
                    <span class="title">
                        添加标签
                    </span>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="fa fa-contao"></i>
            <span class="title">系统管理</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item  ">
                <a href="../System/RoleIndex?menuId=SystemRoleIndex&type=header" class="nav-link " id="SystemRoleIndex">
                    <span class="title">角色管理</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="../System/UserIndex?menuId=SystemUserIndex&type=header" class="nav-link " id="SystemUserIndex">
                    <span class="title">用户管理</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="../System/MenuIndex?menuId=SystemMenuIndex&type=header" class="nav-link " id="SystemMenuIndex">
                    <span class="title">菜单管理</span>
                </a>
            </li>
        </ul>
    </li>
</ul>
