<div class="page-logo">
    <a href="../Home/Index">
        <img src="~/content/logo.png" alt="logo" class="logo-default" />
    </a>
    <div class="menu-toggler sidebar-toggler">
        <span></span>
    </div>
</div>
<!-- END LOGO -->
<!-- BEGIN RESPONSIVE MENU TOGGLER -->
<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
    <span></span>
</a>