
@{
    ViewData["Title"] = "PagePartialView";
}
<div class="page-header">分页</div>
<div class="pager" id="pager">
    <span class="form-inline">
        <select class="form-control" v-model="pageSize" v-on:change="showPage(pageCurrent,$event,true)" number>
            <option value="3">3</option>
            <option value="8">8</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
        </select>
    </span>
    <template v-for="page in pageCount+1">
        <span v-if="page==1" class="btn btn-default" v-on:click="showPage(1,$event)">
            首页
        </span>
        <span v-if="page==1" class="btn btn-default" v-on:click="showPage(pageCurrent-1,$event)">
            上一页
        </span>
        <span v-if="page==1" class="btn btn-default" v-on:click="showPage(page,$event)">
            {{page}}
        </span>
        <span v-if="page==1&&page<showPagesStart-1" class="btn btn-default disabled">
            ...
        </span>
        <span v-if="page>1&&page<=pageCount-1&&page>=showPagesStart&&page<=showPageEnd&&page<=pageCount" class="btn btn-default" v-on:click="showPage(page,$event)">
            {{page}}
        </span>
        <span v-if="page==pageCount&&page>showPageEnd+1" class="btn btn-default disabled">
            ...
        </span>
        <span v-if="page==pageCount" class="btn btn-default" v-on:click="showPage(page,$event)">
            {{page}}
        </span>
        <span v-if="page==pageCount" class="btn btn-default" v-on:click="showPage(pageCurrent+1,$event)">
            下一页
        </span>
        <span v-if="page==pageCount" class="btn btn-default" v-on:click="showPage(pageCount,$event)">
            尾页
        </span>
    </template>
    <span class="form-inline">
        <input class="form-control" style="width:60px;text-align:center" type="text" v-model="pageCurrent" v-on:keyup.enter="showPage(pageCurrent,$event,true)" />
    </span>
    <span class="label label-success"> {{pageCurrent}}/{{pageCount}}</span>
</div>  

