
@{
    ViewData["Title"] = "PagePartialView";
}
<div class="page-header">分页</div>
<div class="pager" id="pager">
    <span class="form-inline">
        <select class="form-control" v-model="pagesize" v-on:change="showPage(pageCurrent,$event,true)" number>
            <option value="3">3</option>
            <option value="8">8</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
        </select>
    </span>
    <template v-for="item in pageCount+1">
        <span v-if="item==1" class="btn btn-default" v-on:click="showPage(1,$event)">
            首页
        </span>
        <span v-if="item==1" class="btn btn-default" v-on:click="showPage(pageCurrent-1,$event)">
            上一页
        </span>
        <span v-if="item==1" class="btn btn-default" v-on:click="showPage(item,$event)">
            {{item}}
        </span>
        <span v-if="item==1&&item<showPagesStart-1" class="btn btn-default disabled">
            ...
        </span>
        <span v-if="item>1&&item<=pageCount-1&&item>=showPagesStart&&item<=showPageEnd&&item<=pageCount" class="btn btn-default" v-on:click="showPage(item,$event)">
            {{item}}
        </span>
        <span v-if="item==pageCount&&item>showPageEnd+1" class="btn btn-default disabled">
            ...
        </span>
        <span v-if="item==pageCount" class="btn btn-default" v-on:click="showPage(item,$event)">
            {{item}}
        </span>
        <span v-if="item==pageCount" class="btn btn-default" v-on:click="showPage(pageCurrent+1,$event)">
            下一页
        </span>
        <span v-if="item==pageCount" class="btn btn-default" v-on:click="showPage(pageCount,$event)">
            尾页
        </span>
    </template>
    <span class="form-inline">
        <input class="form-control" style="width:60px;text-align:center" type="text" v-model="pageCurrent" v-on:keyup.enter="showPage(pageCurrent,$event,true)" />
    </span>
    <span class="label label-success"> {{pageCurrent}}/{{pageCount}}</span>
</div>  

